@import url('https://fonts.googleapis.com/css?family=Kanit');
h1,h2,h3,h4,h5,*{
    font-family: 'Kanit', sans-serif;
}
*,a{
    font-family: 'Kanit', sans-serif;
}
.logo{
    float: none;
}
.search-btn i {
    padding: 18px;
    float: left;
    margin: 0px !important;
    cursor: pointer;
}
