@import url('https://fonts.googleapis.com/css?family=Kanit');
h1,h2,h3,h4,h5,*{
    font-family: 'Kanit', sans-serif;
}
*,a,.kanit{
    font-family: 'Kanit', sans-serif;
}
.logo{
    float: none;
}
.search-btn i {
    padding: 18px;
    float: left;
    margin: 0px !important;
    cursor: pointer;
}
.top-bar .top-right .social-dropdown {
    font-family: 'Kanit', sans-serif;
    font-size: 13px;
    width: 144px;
    padding: 16px 15px;
}
.footer {
    background: #0e0e0e;
    padding: 0px;
}
.footer .copyright p {
    text-transform: uppercase;
    color: #c8c8c8;
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
}.carousel-control.left {
     background: url(../images/arrow-left.png) no-repeat;
     width: 76px;
     background-size: 100%;
     height: 54px;
     top: 50%;
     left: 3%;
 }
.carousel-control.right {
    background: url(../images/arrow-right.png) no-repeat;
    width: 76px;
    background-size: 100%;
    height: 54px;
    top: 50%;
    right: 3%;
}
.carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.post-detail {
    background: #fff;
    border: solid 1px #dfdfdf;
    padding: 17px 20px;
}
.title-line {
    padding-bottom: 5px;
    border-bottom: solid #0a0a0a 3px;
}
.foreach-news > div > .articles-posts {
    width: 100%;
    margin: 15px 0 0 0;
    float: left;
}
.live-stream-box{
    height: 287px;
    width:100%;
}
.main-content {
    background: #fff;
    padding: 0px 0px 60px 0;
    margin: 0px 0 0 0;
}
.margin-30{
    margin: 30px 0 0 0;
}
.top-bar .top-right .demos a:hover {
    background: #FFFFFF;
    color: #000;
}
.top-bar .top-right .demos a {
    background: #ec3233;
    color: #FFFFFF;
}