@import url('https://fonts.googleapis.com/css?family=Kanit');
h1,h2,h3,h4,h5,*{
    font-family: 'Kanit', sans-serif;
}
*,a,.kanit{
    font-family: 'Kanit', sans-serif;
}
.logo{
    float: none;
}
.search-btn i {
    padding: 18px;
    float: left;
    margin: 0px !important;
    cursor: pointer;
}
.top-bar .top-right .social-dropdown {
    font-family: 'Kanit', sans-serif;
    font-size: 13px;
    width: 144px;
    padding: 16px 15px;
}